.content{
    margin-top: 50px;
    height: 90%;
    width: 109.5%;
}
.content .con-body{
    height: 100%;
    padding: 0;
}
.content .con-left-head{
    margin: 0;
    width:100%;
    height:30%;
    /*background-color: #1b6d85;*/
    padding-top: 15px;
    border: 1px solid gainsboro;
}
.content .con-left-head p{
    display: block;
    font-size: 20px;
    width: 60%;
    /*border: 1px solid red;*/
    margin-left: 5%;
    float: left;
}
.content .con-left-head button{
    display: block;
    float: left;
    width: 30%;
    margin-top: 17px;
    /*background-color: #ff6000;*/
    background-color: #fff2e3;
    border: 1px solid #ff6000;
    color: gray;
    margin-left: 5%;
}
.content .con-left-foot{
    height: 70%;
    width: 100%;

}
.content .con-left-foot ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.content .con-left-foot li{
    display: block;
    height: 14.3%;
    border: 1px solid gainsboro;
    cursor: pointer;
}
.content .con-left-foot li p{
    display: block;
    float: left;
    /*border: 1px solid red;*/
    font-size: 25px;
    margin-top: 6%;
    margin-left: 10%;
    color: gray;
    transition: all 0.5s;
}
.content .con-left-foot li span{
    display: block;
    float: left;
    /*border: 1px solid red;*/
    font-size: 16px;
    margin-top: 7%;
    margin-left: 5%;
    color: black;
}
.content .con-right{
    overflow-y: scroll;
}
.content .con-right ul{
    list-style: none;
    padding: 0;
    margin: 0;

}
.content .con-right li{
    display: block;
    width: 80%;
    /*height: 20%;*/
    min-height: 60px;
    border: 1px solid lightgrey;
}
.con-right li .name{
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    margin-bottom: 18px;
    margin-top: 15px;
    margin-left: 0;
    float: left;
    width: 80%;
    /*border: 1px solid red;*/
}
.con-right li .edit{
    display: none;
    float: left;
    clear: right;
    margin-left: 15%;
    margin-top: 15px;
    font-size:20px;
    cursor: pointer;
}
.con-right li h4{
    display: block;
    float: left;
    height: 30px;
    width: 80%;
    margin-left: 4.5%;
    line-height: 30px;
    color: red;
    /*background-color: red;*/
}
.con-right li h4 span{
    display: inline-block;
    /*border: 1px solid red;*/
}
.con-right li .xinxi-mon{
    display: block;
    height: 40px;
    margin-top: 35px;
    font-size: 30px;
    opacity: 0.5;
    margin-bottom: 35px;
}
.con-right li .xinxi-mon span{
    display: block;
    float: left;
    margin-left: 30%;
}
.con-right li .xinxi-monChange{
    display: none;
    border: 1px solid red;
    margin-top: 55px;

}
.xinxi1{
    margin-top: 25px;
    padding-left: 10%;
}
.xinxi2{
    margin-top: 30px;
    margin-bottom: 25px;
}
.xinxi2 button{
    width: 70px;
    margin-left: 40%;
}

.con-right li .qiu-mon{
    height: 120px;
    /*background: red;*/
    margin-top: 45px;
    font-size: 15px;
    padding-left: 8%;
}
.con-right li .qiu-mon div{
    width: 40%;
    float: left;
    margin-top: 5px;
    /*background: red;*/
}
.con-right li .qiu-monChange{
    background: whitesmoke;
    border: 1px solid red;
    margin-top: 55px;
    font-size: 15px;
    padding-left: 8%;
    padding-top: 15px;
}
.con-right li .qiu-monChange li{
    min-height: 40px;
    border: none;
    margin-left: 15%;
}
.con-right li .qiu-monChange li span{
    display: block;
    float: left;
    /*background: #000;*/
    height: 30px;
    margin-top: 5px;
}
.con-right li .qiu-monChange li .input-group{
    margin-left: 15px;
    width:60%;
    float: left;
}
.con-right li .work-jy{
    height: 120px;
    /*background: red;*/
    margin-top: 45px;
    font-size: 15px;
    padding-left: 8%;
}
.con-right li .work-jy div{
    width: 40%;
    float: left;
    margin-top: 5px;
    /*background: red;*/
}

.con-right li .work-jiChange{
    background: whitesmoke;
    border: 1px solid red;
    margin-top: 55px;
    font-size: 15px;
    padding-left: 8%;
    padding-top: 15px;
}
.con-right li .work-jiChange li{
    margin-left: 10%;
    border: none;
}
.con-right li .work-jiChange li span{
    display: block;
    float: left;
    /*background: #000;*/
    height: 30px;
    margin-top: 5px;
}
.con-right li .work-jiChange li .input-group{
    margin-left: 15px;
    width:60%;
    float: left;
}
.con-right li .school-mon li{
    width: 100%;
    border: 1px solid gainsboro;
    height: 90px;
    padding-left: 3%;
    cursor: pointer;
    margin-left: 0%;
    margin-top: 5px;
}
.con-right li .school-change{
    margin-top: 55px;
    border: 1px solid red;
}
.con-right li .school-change li{
    margin-left: 15%;
    border: none;
}
.con-right li .school-change li span{
    display: block;
    float: left;
    /*background: #000;*/
    height: 30px;
    margin-top: 5px;
}
.con-right li .school-change li .input-group{
    margin-left: 15px;
    width:60%;
    float: left;
}
.con-right li .school-mon li div{
    /*background: red;*/
    margin-top: 15px;
    width: 37%;
    float: left;
    margin-left: 4%;
}
.con-right li .school-mon li .school-delete{
    /*background: #000;*/
    display: none;
    width: 10%;
}
.con-right li .school-mon li .school-delete span{
    cursor: pointer;
    margin-left: 20%;
}
.con-right li .school-mon li .school-delete span:first-child{
    margin-left: 0%;
}
.con-right li .schome-mon li{
    width: 100%;
    border: 1px solid gainsboro;
    height: 10px;
    padding-left: 3%;
    cursor: pointer;
    margin-left: 0%;
    margin-top: 5px;

}
.con-right li .schome-mon li div{
    /*background: red;*/
    margin-top: 15px;
    width: 37%;
    float: left;
    margin-left: 4%;
}

.con-right li .schome-mon li .schoolhome-delete{
    /*background: #000;*/
    display: none;
    width: 10%;
}
.con-right li .schome-mon li .schoolhome-delete span{
    cursor: pointer;
    margin-left: 20%;
}
/*技能特长*/

.con-right li .jineng-mon li{
    width: 100%;
    border: 1px solid gainsboro;
    height: 10px;
    padding-left: 3%;
    cursor: pointer;
    margin-left: 0%;
    margin-top: 5px;

}
.con-right li .jineng-mon li div{
    /*background: red;*/
    margin-top: 15px;
    width: 37%;
    float: left;
    margin-left: 4%;
}

.con-right li .jineng-mon li .jineng-delete{
    /*background: #000;*/
    display: none;
    width: 10%;
}
.con-right li .jineng-mon li .jineng-delete span{
    cursor: pointer;
    margin-left: 20%;
}

/*附加技能*/
.con-right li .fujia-mon li{
    width: 100%;
    border: 1px solid gainsboro;
    height: 10px;
    padding-left: 3%;
    cursor: pointer;
    margin-left: 0%;
    margin-top: 5px;

}
.con-right li .fujia-mon li div{
    /*background: red;*/
    margin-top: 15px;
    width: 37%;
    float: left;
    margin-left: 4%;
}

.con-right li .fujia-mon li .fujia-delete{
    /*background: #000;*/
    display: none;
    width: 10%;
}
.con-right li .fujia-mon li .fujia-delete span{
    cursor: pointer;
    margin-left: 20%;
}